<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>lista de transferencias</p>

    <ul>
    {% for transacao in transacoes%}
        <li><a href="{% url 'url_update' transacao.id %}">{{transacoes.descricao}} - {{transacoes.data}} - {{transacoes.valor}} - {{transacoes.categoria}}</a></li>
    {%  endfor  %}
</ul>
    <a href="{% url 'url_nova' %}">Nova</a>

</body>
</html>